<% include partials/header%>
<div class="ui container">
	<div class="row">
    <div class="column">
      <div class="ui message">
        <h1 class="ui header">Welcome to Notify App!</h1>
        <p class="ui third header ">Notify is the platform for sharing notes prepared by amazing Teachers and Students like you.</p>
        <!-- <a class="ui blue button">Learn more &raquo;</a> -->
      </div>
    </div>
  </div>

  <div class="row">
  	<div class="column">
  		<div class="ui cards">
		  <div id="ec" class="card">
		  	<div  class="content">
		  		<div class="header">ELECTRONICS AND COMMUNICATION</div>
		  		<div class="description">Electronic engineering is an electrical engineering discipline which utilizes nonlinear and active electrical components to design electronic circuits, devices, VLSI devices and their systems.</div>
		  	</div>
		  	<div class="extra content">
		  			<a href="/sem">
		  			<div class="ui bottom attached button">Notes</div>
		  			</a>
		  	</div>
		  </div>

		  <div id="cs" class="card">
		  	<div class="content">
		  		<div class="header">Computer Science</div>
		  		<div class="description">Computer Science Engineering also known as CSE is an engineering discipline that integrates various fields of computer science required to develop computer systems.</div>
		  	</div>
		  	<div class="extra content">
		  			<a href="/sem">
		  			<div class="ui bottom attached button">Notes</div>
		  			</a>
		  	</div>
		  </div>

		  <div id="civ" class="card">
		  	<div class="content">
		  		<div class="header">CIVIL</div>
		  		<div class="description">Civil engineering is a professional engineering discipline that deals with the design, construction works such as roads, bridges, canals, dams, airports,</div>
		  	</div>
		  	<div class="extra content">
		  			<a href="/sem">
		  			<div class="ui bottom attached button">Notes</div>
		  			</a>
		  	</div>
		  </div>


		  <div id="mech" class="card">
		  	<div class="content">
		  		<div class="header">MECHANICAL</div>
		  		<div class="description">Mechanical engineering is the discipline that applies engineering, physics, engineering mathematics, and materials science principles to design, analyze, manufacture, and maintain mechanical systems.</div>
		  	</div>
		  	<div class="extra content">
		  			<a href="/sem">
		  			<div class="ui bottom attached button">Notes</div>
		  			</a>
		  	</div>
		  </div>
	</div>
  	</div>
  </div>
</div>
<% include partials/footer%>