<% include partials/header%>
<div class="ui container main text segment">
	<div class="">
		<h1 class="ui header">Upload New Notes</h1>
			<div>
				<form class="ui form" action="/" method="POST">
					<div class="field">
						<label>Subject</label>
						<input class="" type="text" name="note[subName]" placeholder="Subject Title Module1">
					</div>
					<div class="ui labeled input field">
						<div class="ui label">http://</div>
						<input class="" type="text" name="note[pdflink]" placeholder="notes url">
					</div>
					<!-- <div class="field">
						<label>Branch</label>
						<input class="" type="text" name="note[branch]" placeholder="cse">
					</div>
					<div class="field">
						<label>Semester</label>
						<input class="" type="text" name="note[sem]" placeholder="7">
					</div> -->
					<div class="grouped fields">
					    <label for="fruit">Select Branch:</label>
					    <div class="field">
					      <div class="ui radio checkbox">
					        <input type="radio" name="note[branch]" value="ec"  tabindex="0" class="hidden">
					        <label>EC</label>
					      </div>
					    </div>
					    <div class="field">
					      <div class="ui radio checkbox">
					        <input type="radio" name="note[branch]" value="cse" checked="" tabindex="0" class="hidden">
					        <label>CS</label>
					      </div>
					    </div>
					    <div class="field">
					      <div class="ui radio checkbox">
					        <input type="radio" name="note[branch]" value="civ" tabindex="0" class="hidden">
					        <label>CV</label>
					      </div>
					    </div>
					    <div class="field">
					      <div class="ui radio checkbox">
					        <input type="radio" name="note[branch]" value="mech" tabindex="0" class="hidden">
					        <label>ME</label>
					      </div>
					    </div>
					 </div>
					 <div class="field">
					    <label>Semester</label>
					    <select class="ui search dropdown" name="note[sem]">
					      <option value="">Select Semester</option>
					      <option value="3">3rd Sem</option>
					      <option value="4">4th Sem</option>
					      <option value="5">5th Sem</option>
					      <option value="6">6th Sem</option>
					      <option value="7">7th Sem</option>
					      <option value="8">8th Sem</option>
					  </select>
					</div>
					<div class="field">
						<input class="ui green button" type="submit" name="" value="Upload">
					</div>
				</form>
			</div>	
	</div>
</div>

<% include partials/footer%>
