<% include partials/header%>
<div class="ui container">
  <h1 class="ui header">Computer Science and Engineering</h1>
</div>
<div class="ui center aligned six column grid">
  <div class="row">
    <div class="column">
      <div class="ui vertical fluid menu">
        <a id="item" class="item" href="/notes/cse/3">
          <div>
          Sem3
        </div>
        </a>
       <a class="item" href="/notes/cse/5">
          <div>
         Sem5
        </div>
       </a>
        <a class="item" href="/notes/cse/7">
          <div>
          Sem7
        </div>
        </a>
      </div>
    </div>
   <div class="column">
      <div class="ui vertical fluid menu">
        <a class="item" href="/notes/cse/4">
          <div>
          Sem4
        </div>
        </a>
       <a class="item" href="/notes/cse/6">
          <div>
         Sem6
        </div>
       </a>
        <a class="item" href="/notes/cse/8">
          <div>
          Sem8
        </div>
        </a>
      </div>
    </div>
  </div>
</div>
<% include partials/footer%>
